/** Mobile */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    background-color: #0E181E;
    color: #ffffff;
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
}

.container span {
    font-family: var(--font-secondary);
}

.container a {
    flex-shrink: 0;
}

/** Tablet */

@media only screen and (min-width: 768px) {
    .container span {
        font-size: var(--font-size-md);
    }
}

/** Desktop */

@media only screen and (min-width: 1024px) {
    
}